# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.dsk
*.tds
*.local
*.bpr
*.dproj
*.groupproj
*.bdsproj
*.gdb
*.cbd
*.gds
*.cfg
*.dcu
*.dcr
*.res
*.dfm

# Ignorar Makefiles
Makefile
makefile
Makefile.in
makefile.in

# Executables
*.exe
*.out
*.app
